* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* navbar */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ======= PRELOADER ======== */

.preloader {
    background: #f8f9fa;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s, visibility 0.75s;
}

.preloader-hidden {
    opacity: 0;
    visibility: hidden;
}

.preloader::after {
    content: "";
    width: 40px;
    height: 40px;
    border: 7px solid #dddddd;
    border-top-color: #1d1e1f;
    border-radius: 50%;
    animation: loading .9s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


/* ======= PRELOADER END======== */

/*========================================== INDEX.PHP CSS END=======================================*/


.bt-navbar {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-bottom: 1px solid rgba(125, 124, 124, .1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .8);
    background: #1d1e1f;
}

.dash-wrapper {
    /* background-image: url("https://cdn.discordapp.com/attachments/843046027958288407/1193987352264200212/black-contour.png?ex=65aeb65f&is=659c415f&hm=514e601697fe4ccdab3523d8e6cdcafd7dc55feb5cd37c328175b93cd135cf2f&"); */
    background-size: 120rem;
    background-position: center;
    height: 303.4vh;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    margin-right: 40px;
}

.nav-item a {
    font-weight: bold;
}

.nav-item a:hover {
    transition: .3s ease-in-out;
}

.bt-nav-item {
    margin-right: 50px;
}



.bt-nav-item li {
    margin-left: 100px;
}

.bt-nav-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-nav-item2 li {
    text-decoration: none;
    display: flex;
}

.bt-nav-item2 a {
    margin-right: 50px;
}

.bt-nav-item2 a i {
    color: #f8f9fa;
}

/* navbar end */

/* hero section */

.hero-section {
    background-image: url("https://lh3.googleusercontent.com/pw/ABLVV85UuoshUUQLPmQOI_TrHpWlgAlwn4pnGcS5DjI0t4XtqQsG0JZrOt4jJAMCO0UyOhPTTxe564CHXlV1Bc6EM1bETaE7fXD0NF7ydoXDmMCPQO9ol51rZYQWulplnl0o65KZEMCOuF1kPhCqddsAb5-JN-dXgeFZV9v9xB_KgkvlzxBn-1TdKquvjV9L-Ptr-nOmKQRg48ZipcXoN4JfzmzEgIiXlVxjZxsm24IAm8ThsZmXsVv9qMx4ML8OORMWctPcVMoSeF-T87-Bw-SEZVz-nprPtzM3xwveKXc8CCwjZ04VYxs2E9LXY8SP3awJwzRzn_0RfldlZgFsHKME9s2bYzrtd6ti7hhp2lIb99OdwYHbBB5-atXuhskAPMsbHf7wTx3lKv7RyGDlW9weQcMge3qLLW8Q0VeOITkC2MdRLt_-lcS0z4YiTIzd0v9emLEJe1uybzsaAdKxv3AZjC8aP9AWwSgsqvgKMujb2W_lnCSqxjKjZYHIkt6hIqN8yBTzomiLEUDmgN8F8ORO1bPLruIxiU4OA8c0Xqyr_J1NE5SIl8sYR4WDO-uuBdDha49N-J16XDe1jXVdD6qejQkythlkD8p47wzMT4LX_irobbvjB0AaEa-_io02K5iD7_VrINHYMs5WpTPA5pQ54Pa80rzd25gUHwE-AUHUtSoo5s8lirRiYr9JuSTNRFDWtSX-5kh532bsGGunDWuby8zf4mhb8yPz8qmQEQpeyHScEYFn3r_IfQ7zwT8TwdXREAHx2xcNbXy7h5WBtynpbpVLdvwbWMiVoUCvUdLuAI5YoakhcyIsm2cTfaC_gmeDLZX7YAwj0dvC2Peqp1WIuxYTcFxdb1afL05xS3XAxv_TOKtYijh7A4qUKaBeM6c_6qJlwsfFcUcRbABxmE_6s458aB0Hx7zNxJXiTXyGLNKogO03LRZ69ggsztwT5fPnF4Iy0dghOD8mv0ALuj1faXadsrtD58vZ7DaKnNQNSnkYwQI9Si7sPer-wD5lUJcv-ZJV3n2ShqiU0nXO1AX3CQ4_jq5IuGJ3Aio3s0z30a1DDdr7Do6C=w953-h953-s-no-gm?authuser=0");
    background-size: cover;
    background-position: center;
}

.hero-main {}

.hero {

    display: flex;
    justify-content: center;
    position: static;
}



.hero-img {
    margin-top: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-image: url("bg-login.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 1600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
    transition: transform 0.4s ease-in-out;
}

.hero-img:hover {
    transform: scale(1.02);
    transition-delay: .2s;
}

.hero-img:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

.hero-img:hover::after {
    transform: scale(1.1);
    /* Menjaga elemen tetap teranimasi saat keluar dari hover */
}


.hero-text {
    color: #f8f9fa;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text h1 {
    display: flex;
    font-weight: 900;
    transform: scale(2);
    letter-spacing: 25px;
}

.hero-text h1 span {
    color: #1c1f21;
}


/* hero section */

/* content section */

.product-dashboard {
    display: flex;
    flex-direction: column;
    background: #1d1e1f;
    background-image: url('https://cdn.discordapp.com/attachments/843046027958288407/1192956279908474961/contour.png?ex=65aaf61d&is=6598811d&hm=da2a5d84520a9a413f6fdf30dddd2073cffa2a84be55c06b24b6677c51c46585&');
    background-size: cover;
    height: 93vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title h1 {
    font-weight: 900;
    scale: 1.5;
    color: #fff;
    text-shadow: 0 10px 50px rgba(225, 225, 225, .4);
}

.i-header {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-header i {
    color: #1c1f21;
    transform: scale(3);
}

.product-card {
    margin-top: 20px;
}

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 1);
    backdrop-filter: blur(5px);
    margin-bottom: 65px;
}

.card-group {
    width: 80%;
}

.card {
    box-shadow: 0 2px 10px #000000b3;
}

#card-middle {
    margin-left: 30px;
    margin-right: 30px;
}

.card .btn {
    background: #1c1f21;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
}

.card .btn:hover {
    background: #fff;
    color: #1c1f21;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #1c1f21;
}

.card .btn {
    background: #1c1f21;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
}

.card .btn:hover {
    background: #fff;
    color: #1c1f21;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #1c1f21;
}

.a-detail {
    color: #1c1f21;
}

.a-more {
    display: flex;
    align-items: center;
}

.more {
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    border-left: none;
    width: 80px;
    height: 400px;
    margin-left: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more:hover {
    background: rgba(248, 249, 250, .3);
    transition: .15s ease-in-out;
}


.more .next-box i {
    color: #f8f9fa;
    width: 80px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.more .next-box p {
    margin-top: 10px;

}

.more .next-box i:hover {
    color: #1c1f21;
    transition: .15s ease-in-out;
}

/* content section end */


/* index about section */

.index-about {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* index about section */


/*========================================== INDEX.PHP CSS END=======================================*/



/*========================================== PRODUCT.PHP CSS =======================================*/


/* content project section */



.main-content {
    border-left: 1px solid rgba(28, 31, 33, .2);
    border-right: 1px solid rgba(28, 31, 33, .2);
    margin-left: 200px;
    margin-right: 200px;
    background-image: url("https://cdn.discordapp.com/attachments/843046027958288407/1192956279908474961/contour.png?ex=65aaf61d&is=6598811d&hm=da2a5d84520a9a413f6fdf30dddd2073cffa2a84be55c06b24b6677c51c46585&");
    background-size: cover;
}

.title-product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 15px;
}

.title-product h1 {
    font-weight: 900;
    scale: 1.5;
    color: #1c1f21;
    text-shadow: 0 0 50px rgba(29, 30, 31, .7);
}

.card-content {
    /* border: solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* content project section */


/* ===============================PRODUCT.PHP CSS END======================================*/





/* ===============================ABOUT.PHP CSS ======================================*/


.main-about {
    /* border: solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content {
    border-left: 1px solid rgba(28, 31, 33, .2);
    border-right: 1px solid rgba(28, 31, 33, .2);
    margin-left: 200px;
    margin-right: 200px;
    background-image: url("https://cdn.discordapp.com/attachments/843046027958288407/1192956279908474961/contour.png?ex=65aaf61d&is=6598811d&hm=da2a5d84520a9a413f6fdf30dddd2073cffa2a84be55c06b24b6677c51c46585&");
    background-size: cover;
    /* border: solid red; */
}

.about-card {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card .card {
    border: solid transparent;
    border-radius: 10px;
    transition: .2s ease-in-out;
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.about-card .card:hover {
    border: 2px solid #1d1e1f;
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 20);
}



/* ===============================ABOUT.PHP CSS END======================================*/




/* ===============================ABOUT_PRODUCT.PHP CSS ======================================*/

.about-product-content {
    min-height: 100vh;
    /* border: solid red; */
    border-left: 1px solid rgba(28, 31, 33, .2);
    border-right: 1px solid rgba(28, 31, 33, .2);
    margin-left: 200px;
    margin-right: 200px;
    background-image: url("https://cdn.discordapp.com/attachments/843046027958288407/1192956279908474961/contour.png?ex=65aaf61d&is=6598811d&hm=da2a5d84520a9a413f6fdf30dddd2073cffa2a84be55c06b24b6677c51c46585&");
    background-size: cover;
}

.list-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-div {
    margin-bottom: 40px;
}

.main-product-about {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
}

.list-button {
    display: flex;
    align-items: center;
}

.cart-plus {
    margin-left: 400px;
}


.cart-delete i {
    color: #1d1e1f;
}

.cart-delete i:hover {
    color: #b9b9b9;
    transform: scale(1.3);
    transition: .1s linear;
}

.cart-plus i {
    color: #1d1e1f;
}

.cart-plus i:hover {
    color: #b9b9b9;
    transform: scale(1.3);
    transition: .1s linear;
}

/* ===============================ABOUT_PRODUCT.PHP CSS END======================================*/




/* ===============================DETAIL_PRODUCT.PHP CSS ======================================*/

.list-about img {
    border-radius: 10px;

}

.list-about hr {
    border: .6px solid rgba(29, 30, 31, .3);
    border-radius: 10px;
}


.main-product-detail {
    display: flex;
    flex-direction: column;
    /* border: solid red; */
}

/* ===============================DETAIL_PRODUCT.PHP CSS END======================================*/



/* footer project section */

.footer {
    background: #1d1e1f;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.footer-content {
    border: solid transparent;
}

.footer-content .container {
    color: grey;
    max-width: 1920px;
}

#footer-logo {
    font-weight: bold;
    color: #f8f9fa;
}



/* footer project section */

.display-shop {
    display: none;
}

.add-to-cart {
    background: rgb(0, 0, 0, .5);
    color: #1c1f21;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s, visibility 0.75s;
}

.input-item {
    margin-left: 700px;
}

.input-item input {
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    height: 35px;
    width: 100px;
    font-size: 20px;

}

.main-input {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-input {
    /* border: 1px solid grey; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background: #f8f9fa;
    width: 700px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input {
    height: 500px;
    width: 700px;
    border: solid red;
}

.input-card .card {
    /* border: solid yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}

.input-card form {
    /* border: solid red; */
    display: flex;
    justify-content: center;
}

.input-card .card input {
    border: none;
    border-bottom: 1px solid #1d1e1f;
}

.input-div {
    /* border: solid black; */
    width: 500px;
    display: flex;
    flex-direction: column;
}

.input-text {
    background: none;
    outline: none;
}

.about-website-hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-website-img {
    background-image: url("https://cdn.discordapp.com/attachments/843046027958288407/1193647035581218918/brand-img.png?ex=65ad796e&is=659b046e&hm=fbaa350e7edde24c23ff6fc1ff17b1b1dba1e175484010da88a55365a19067e1&");
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 500px;
    margin-top: 50px;
    border-radius: 15px;
}

.about-website-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.about-website-text p{
    margin-top: 50px;
    width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-website-next{
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}